<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"/>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"/>

    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
      rel="stylesheet"/>
      <style type="text/css">
        
        .gradient-custom {
              
              /* Chrome 10-25, Safari 5.1-6 */
              background: -webkit-linear-gradient(to right, rgba(48,207,208,0.5), rgba(51,8,103,0.5));
            
              /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              background: linear-gradient(to right, rgba(48,207,208,0.5), rgba(51,8,103,0.5))
            }
            

      </style>
    
  </head>
  <body>


<section class="h-100 gradient-form" style="background-color: rgba(0, 0, 0, 0.9);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://cdn-icons-png.flaticon.com/512/48/48968.png"
                    style="width: 150px;" alt="logo">
                  <h2 class="mt-1 mb-5 pb-1">UTube</h2>
                </div>

                <form method="POST">
                    {% csrf_token %}
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="emailAddress" class="form-control" name='emailAddress'/>
                    <label class="form-label" for="emailAddress">email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" name='password'/>
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-1 pb-1">
                    <input class="btn btn-primary btn-block fa-lg gradient-custom mb-3" type="submit" value="Login">
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <a href="{% url 'adminLogin' %}"><button type="button" class="btn btn-primary btn-block fa-lg gradient-custom mb-3">Admin login</button></a>
                  </div>                  

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-danger">Create new</button></a>
                  </div>
                </form>
              </div>
            </div>
           
           <div class="col-lg-6 d-flex align-items-center gradient-custom">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h2>Welcome to UTube</h2>
                <br>
                <h5>The stuff that you Make, but the stories you Tell</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

  </body>
</html>